<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">
    <!-- IP address Column -->
    <ng-container matColumnDef="ip">
      <th mat-header-cell *matHeaderCellDef> IP </th>
      <td mat-cell *matCellDef="let element"> {{element.ip}} </td>
    </ng-container>

    <!-- Pod Column -->
    <ng-container matColumnDef="pod">
      <th mat-header-cell *matHeaderCellDef> Pod </th>
      <td mat-cell *matCellDef="let element"> {{element.pod}} </td>
    </ng-container>

    <!-- Service Column -->
    <ng-container matColumnDef="ctrl">
      <th mat-header-cell *matHeaderCellDef> Controller </th>
      <td mat-cell *matCellDef="let element"> {{element.ctrl}} </td>
    </ng-container>

    <!-- Tenant Column -->
    <ng-container matColumnDef="ns">
      <th mat-header-cell *matHeaderCellDef> Namespace </th>
      <td mat-cell *matCellDef="let element"> {{element.ns}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 15, 20]" class="paginator"></mat-paginator>
</div>
