<button mat-button color="primary" (click)="addGateway()"><mat-icon>add</mat-icon>Add</button>
<button mat-button color="warn" (click)="deleteGateway()"><mat-icon>delete</mat-icon>Delete</button>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </td>
  </ng-container>

  <!-- Gateway Column -->
  <ng-container matColumnDef="gw">
    <th mat-header-cell *matHeaderCellDef>Gateway</th>
    <td mat-cell *matCellDef="let element"> {{element.gw}} </td>
  </ng-container>

  <!-- Subnet Column -->
  <ng-container matColumnDef="subnet">
    <th mat-header-cell *matHeaderCellDef>Subnet</th>
    <td mat-cell *matCellDef="let element"> {{element.subnet}} </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"
      (click)="selection.toggle(row)">
</table>
<mat-paginator [pageSizeOptions]="[10, 15, 20]" class="paginator"></mat-paginator>

